<template name="appFavs">
  <h4>Favoritos</h4>
  {{#ifwith favs}}
    <ul class="list-group">
      {{#each favs}}
        <li class="list-group-item">
          <div class="btn-group btn-group-sm pull-right">
            <button class="btn btn-default glyphicon glyphicon-play play"></button>
            <button class="btn btn-default glyphicon glyphicon-stop stop"></button>
            <button class="btn btn-default glyphicon glyphicon-trash trash"></button>
          </div>
          {{name}}
        </li>
      {{/each}}
    </ul>
  {{/ifwith}}
</template>
