<template name="appHelp">
  <h4>Version beta</h4>
  <pre>
    - Registro de usuario
    - Añadir lugares a favoritos
    - Añadir comentarios a rutas
    - Buscar por direcciones
    - Editar rutas
  </pre>
</template>