<template name="appIndex">
  <div class="searchBox">
    <div class="barra barraIni">
      <label for="">Inicio</label><input type="text" id="qIni" placeholder="Lugar inicial">{{> appIndexDist}}{{> appIndexRadius}}
      <button class="btn btn-sm btn-default"><i class="glyphicon glyphicon-search"></i></button>
    </div>
    <div class="barra barraFin">
      <label for="">Fin</label><input type="text" id="qFin" placeholder="Lugar de destino">{{> appIndexDist}}{{> appIndexRadius}}
      <button class="btn btn-sm btn-default"><i class="glyphicon glyphicon-search"></i></button>
    </div>
  </div>
  {{#constant}}
    <div id="map-canvas" class="appMap"></div>
  {{/constant}}
  {{#isolate}}{{> appSidebar}}{{/isolate}}
  <div class="footerMenu">
    {{!loginButtons}}
    <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-default favs"><i class="glyphicon glyphicon-star"></i></a>
      <a href="#" class="btn btn-default share"><i class="glyphicon glyphicon-share"></i></a>
      <a href="#" class="btn btn-default user"><i class="glyphicon glyphicon-user"></i></a>
      <a href="#" class="btn btn-default help"><i class="glyphicon glyphicon-question-sign"></i></a>
    </div>
  </div>
  {{#isolate}}{{#if viewGet "modalView"}}{{> appModalView}}{{/if}}{{/isolate}}
</template>

<template name="appIndexDist">
  <select class="btn btn-sm btn-default">
    <option value="NONE">Todos</option>
    <option value="Callao 2">Bellavista</option>
    <option value="Callao 1">Callao</option>
    <option value="Callao 3">Carmen de la Legua</option>
    <option value="Callao 4">La Perla</option>
    <option value="Callao 5">La Punta</option>
    <option value="Callao 6">Ventanilla</option>
    <option value="Lima 2">Ancón</option>
    <option value="Lima 3">Ate</option>
    <option value="Lima 4">Barranco</option>
    <option value="Lima 5">Breña</option>
    <option value="Lima 6">Carabayllo</option>
    <option value="Lima 8">Chaclacayo</option>
    <option value="Lima 9">Chorrillos</option>
    <option value="Lima 40">Cieneguilla</option>
    <option value="Lima 7">Comas</option>
    <option value="Lima 10">El Agustino</option>
    <option value="Lima 28">Independencia</option>
    <option value="Lima 11">Jesús María</option>
    <option value="Lima 12">La Molina</option>
    <option value="Lima 13">La Victoria</option>
    <option value="Lima 1">Lima</option>
    <option value="Lima 14">Lince</option>
    <option value="Lima 39">Los Olivos</option>
    <option value="Lima 15">Lurigancho</option>
    <option value="Lima 16">Lurín</option>
    <option value="Lima 17">Magdalena</option>
    <option value="Lima 18">Miraflores</option>
    <option value="Lima 19">Pachacámac</option>
    <option value="Lima 20">Pucusana</option>
    <option value="Lima 21">Pueblo Libre</option>
    <option value="Lima 22">Puente Piedra</option>
    <option value="Lima 24">Punta Hermosa</option>
    <option value="Lima 23">Punta Negra</option>
    <option value="Lima 25">Rímac</option>
    <option value="Lima 26">San Bartolo</option>
    <option value="Lima 41">San Borja</option>
    <option value="Lima 27">San Isidro</option>
    <option value="Lima 36">San Juan de Lurigancho</option>
    <option value="Lima 29">San Juan de Miraflores</option>
    <option value="Lima 30">San Luís</option>
    <option value="Lima 31">San Martín de Porras</option>
    <option value="Lima 32">San Miguel</option>
    <option value="Lima 43">Santa Anita</option>
    <option value="Lima 37">Santa María del Mar</option>
    <option value="Lima 38">Santa Rosa</option>
    <option value="Lima 33">Surco</option>
    <option value="Lima 34">Surquillo</option>
    <option value="Lima 42">Villa el Salvador</option>
    <option value="Lima 35">Villa María del Triunfo</option>
  </select>
</template>

<template name="appIndexRadius">
  <select class="btn btn-sm btn-default">
      <option value="250">250m.</option>
      <option value="500">500m.</option>
      <option value="750" selected>750m.</option>
      <option value="1000">1km.</option>
      <option value="1500">1.5km.</option>
  </select>
</template>

<template name="appSidebar">
  {{#if hasData}}
    <div class="sidebar">
      <div class="panel panel-success">
        {{#if recorridos}}
          <div class="list-group">
            {{#isolate}}{{#each recorridos}}{{> appSidebarRutas}}{{/each}}{{/isolate}}
          </div>
        {{/if}}
        {{#ifwith rutaSeleccionada}}
          {{> appSidebarRecorrido}}
        {{/ifwith}}
      </div>
    </div>
  {{/if}}
</template>

<template name="appSidebarRutas">
  <a href="#" class="list-group-item showRuta">
    <h5 class="list-group-item-heading">
      {{#if ruta_name}}
        {{ruta_name}} <small>{{alias}}</small>
      {{else}}{{rutaa}} / {{rutab}}{{/if}}
    </h5>
  </a>
</template>

<template name="appSidebarRecorrido">
  <div class="panel-heading">
    <i class="glyphicon glyphicon-time"></i> {{fixed mins 0}} mins ({{fixed kms}} km) aprox.
  </div>
  <ul class="list-group recorrido">{{#each steps}}
    <li class="list-group-item">
      {{#if i}}<i class="{{i}}"></i>{{/if}}{{{t}}}
    </li>
  {{/each}}</ul>
</template>