<template name="appModal">
  <div class="modal-backdrop fade in"></div>
  <div class="bootbox modal fade bootbox-prompt in" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <!--button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button-->
        <h4 class="modal-title">{{#block "header"}}{{/block}}</h4>
      </div>
      <div class="modal-body">{{#block "body"}}{{/block}}</div>
      <div class="modal-footer">
        {{#block "footer"}}
          <button type="button" class="btn btn-danger cancel">Cancelar</button>
        {{/block}}
      </div>
    </div>
  </div>
</template>

<template name="appModalView">
  <div class="modal-backdrop fade in"></div>
  <div class="bootbox modal fade bootbox-prompt in" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">{{DynamicTemplate "modalView"}}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger cancel">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>
