<template name="appRuta">
  <h4>{{name}}</h4>
  {{#ifwith ruta}}
    <ul class="nav nav-tabs">
      <li class="active"><a href="#ruta" data-toggle="tab">Ruta</a></li>
      <li><a href="#operador" data-toggle="tab">Operador</a></li>
      <li><a href="#calificaciones" data-toggle="tab">Calificaciones</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="ruta">
        {{#if flota}}Flota: {{flota}}<br>{{/if}}
        {{#if operador}}Operador: {{operador}}<br>{{/if}}
        {{#if frecuencia}}Frecuencia: {{frecuencia}}<br>{{/if}}
        <div class="rutaThumb">
          <img src="{{smartPic img}}">
        </div>
      </div>
      <div class="tab-pane" id="operador">
        {{#ifwith empresa}}
          <h6>{{name}}</h6>
          Representante: {{representante}} <br>
          {{direccion}} {{distrito}} <br>
          {{telefono}} <br>
          <hr>
          Rutas: {{#each rutas}}<span class="label label-default">{{this}}</span> {{/each}}
        {{/ifwith}}
      </div>
      <div class="tab-pane" id="calificaciones">
        {{#if currentUser}}
          {{> notaNew}}
        {{/if}}
        {{> notaList}}
      </div>
    </div>
  {{else}}
    <div class="alert alert-warning">No hay datos disponibles para esta ruta.</div>
  {{/ifwith}}
</template>
