<template name="appShare">
  <h4>Compartir Ruta</h4>
  <div class="well">
    <input type="text" class="form-control input-lg" value="{{url}}">
    <span class="help-block">URL para compartir</span>
    <p>Las rutas mostradas a la persona que se comparte pueden variar
      dependiendo del radio de búsqueda utilizado.</p>
  </div>
</template>
