<template name="appUser">
  {{#ifwith currentUser}}
    Username: {{username}}
    <button class="btn btn-primary btn-lg btn-block logout">
      Salir <i class="glyphicon glyphicon-log-out"></i>
    </button>
  {{else}}
    {{> appUserSignin}}
  {{/ifwith}}
</template>

<template name="appUserSignin">
  <div class="form-group">
    <label>Usuario / Email</label>
    <input type="text" class="form-control user">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control pass">
  </div>
  <hr>
  <button class="btn btn-primary btn-lg btn-block signin">Ingresar</button>
  <hr>
  <a href="#" class="signup">Deseo registrarme</a>
</template>

<template name="appUserSignup">
  <form id="signup">
    <div class="form-group">
      <label>Usuario</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <hr>
    <button class="btn btn-primary btn-lg btn-block signup">Registrarse</button>
  <hr>
  <a href="#" class="signin">Ya tengo una cuenta</a>
  </form>
</template>
