.appMap
  bottom 50px
  left 0
  position absolute !important
  right 0
  top 85px
  width 100%
.mapForm
  height 250px
span.media-object
  width 120px
  height 100px
  background-position: center
  background-size: cover
.list-group-item > .glyphicon, .list-group-item > .btn-group
  margin-top -5px

@media (min-width: 992px)
  .mapForm
    height 100%
    position absolute !important
    right 0
    top 0
