//  ContextMenu
.context_menu
  background-color:white
  border:1px solid gray
.context_menu_item
  padding:3px 6px
.context_menu_item:hover
  background-color:#CCCCCC
.context_menu_separator
  background-color:gray
  height:1px
  margin:0
  padding:0

.searchBox
  background-color: #FFF
  box-shadow 0px 1px 0px 1px rgba(80, 80, 80, .5)
  left 0
  position: absolute
  right 0
  top 0
  z-index 1
  .barra
    padding 10px
  .barra:first-child
    background-color: #EEE
  label
    width 70px
  input
    background-color: transparent
    border 0
    width calc(100% \- 400px)
  input:focus
    outline 0
.footerMenu
  background-color: #43b695
  bottom 0
  height 50px
  left 0
  padding 10px
  position: absolute
  right 0
.btn-group > .btn:not(:last-child):not(.dropdown-toggle)
  border-right: 0
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child)
  border-right: 1

.sidebar
  bottom 100px
  left 10px
  overflow-y: auto
  pointer-events: none
  position: absolute
  top 120px
  width 350px
  .panel
    pointer-events: auto
  .list-group, .panel
    margin-bottom 0
  .recorrido
    li
      margin-left 20px
    i
      margin-left -20px
.rutaThumb
  background: #f2f2f2 url("/silueta.png") 50% no-repeat
  max-width 100%
  min-height 100px
  overflow hidden
  width 250px
  img
    width 100%

.track4
  width: 10px
  background-clip: padding-box
  // background: #fff
  border-style: solid
  border-color: transparent
  border-width: 0
  border-left-width: 1px
.track4.dragging,
.track4:hover
  background: #f2f2f2
  background: rgba(0, 0, 0, 0.05)
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1)
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1)
.track4:active
  background: #f2f2f2
  background: rgba(0, 0, 0, 0.05)
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14),
                      inset -1px -1px 0 rgba(0, 0, 0, 0.07)
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14),
              inset -1px -1px 0 rgba(0, 0, 0, 0.07)
.handle4
  width: 10px
  background-clip: padding-box
  background: #ccc
  background: rgba(0, 0, 0, 0.2)
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
                      inset 0 -1px 0 rgba(0, 0, 0, 0.07)
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
              inset 0 -1px 0 rgba(0, 0, 0, 0.07)
.handle4:hover
  background: #999
  background: rgba(0, 0, 0, 0.4)
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25)
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25)
.dragging .handle4,
.handle4:active
  background: gray
  background: rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35)
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35)
