<template name="rutaEdit">
  <div class="page-header">
    <h1>{{Router.data.title}}</h1>
  </div>
  <div class="row">
    <div id="sidebar" class="col-lg-3 col-md-3">
      <form id="rutaNew" class="form form-vertical">
        {{#isolate}}
          {{#with ruta}}
            <label>Nombre:</label><input type="text" name="name" value="{{name}}" class="form-control">
            <label>Alias:</label><input type="text" name="alias" value="{{alias}}" class="form-control">
            <label>Flota:</label><input type="number" name="flota" value="{{flota}}" class="form-control">
            <label>Registro:</label><input type="text" name="registro" value="{{registro}}" class="form-control">
            {{#if img}}
              <img src="{{img}}">
            {{/if}}
            <input type="file" id="img">
            <input type="submit" value="Guardar" id="save" class="btn btn-success">
          {{/with}}
        {{/isolate}}
      </form>
    </div>
    {{#constant}}
      <div id="map-canvas" class="col-lg-8 col-md-8 mapForm"></div>
    {{/constant}}
  </div>
</template>
