<template name="rutaIndex">
  <div class="well">
    <a href="{{rutaNewPath}}" class="btn btn-info">Nueva ruta</a>
  </div>
  {{#each rutas}}
    <div class="media">
      <!--a class="pull-left" href="{{rutaEditPath _id}}">
        <!img class="media-object" src="{{img}}" alt="{{nombre}}" width="120" height="100">
        <span class="media-object" style="background-image:url('{{name}}')"></span>
      </a-->
      <div class="media-body">
        <h4 class="media-heading">{{name}}</h4>
        Empresa: {{getEmpresa.name}}<br>
        Flota: {{flota}}<br>
      </div>
    </div>
  {{/each}}
</template>
