<template name="rutaNew">
  <div class="page-header">
    <h1>Nueva Ruta</h1>
  </div>
  <div class="row">
    <div id="sidebar" class="col-lg-3 col-md-3">
      <form id="rutaNew">
        <div class="form-group">
          <label>Nombre:</label><input type="text" name="name" class="form-control">
          <label>Alias:</label><input type="text" name="alias" class="form-control">
          <label>Flota</label><input type="number" name="flota" class="form-control">
          <label>Registro</label><input type="text" name="registro" class="form-control">
          <label>Imagen</label><input type="file" id="img">
        </div>
        <input type="submit" value="Guardar" id="save" class="btn btn-success">
      </form>
    </div>
    <div id="map-canvas" class="col-lg-8 col-md-8 mapForm"></div>
  </div>
</template>
