<template name="notaList">
  {{#if notas}}
    <dl>
      {{#each notas}}
        <dt>{{getUsername by}} <small>{{fromNow at}}</small> </dt>
        <dd>{{#if placa}}[{{placa}}]{{/if}}{{texto}}</dd>
      {{/each}}
    </dl>
  {{/if}}
</template>