<template name="notaNew">
  <form id="notaNew">
    <div class="form-group">
      <label class="form-label">Comentario</label>
      <textarea name="texto" rows="3" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Placa <small>(opcional)</small></span>
        <input type="text" name="placa" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-success up" type="button">
            <i class="glyphicon glyphicon-chevron-up"></i> positivo
          </button>
          <button class="btn btn-warning down" type="button">
            <i class="glyphicon glyphicon-chevron-down"></i> negativo
          </button>
        </span>
      </div>
    </div>
  </form>
</template>
